
 Options +FollowSymLinks
  RewriteEngine On
  Header set Access-Control-Allow-Origin *
  RewriteBase /vintage
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
